@import url:(https://fonts.google.com/specimen/Roboto?query=robo)
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #30cf08;
    font-family: Roboto;
}
form{
    background-color: white;
    width: 400px;
    height: 300px;
    margin: 150px auto;
    text-align: center;
    padding-top: 40px;
    box-shadow: 0 0 20px 0 gray;
    border-radius: 3px;
}
input{
    background-color: #e7ebe6;
    width:75%;
    height: 45px;
    border: 0;
    padding-left: 20px;
    outline: 0;
    
}
input[type="submit"]{
    background-color: #30cf08;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: black;
    color: #30cf08;
}
p{
    color: #b3b3b3;
}
a{
    color: #30cf08;
    text-decoration-line: none;
}
a:hover{
    color: green;
}